.button{
    display: inline-block;
    width: 8.3vw;
    height: 2.6vh;
    background-color: #fff;
    border-radius: 4px;
    text-align: center;
    font-size: 1.25vw;
    white-space: nowrap;
}

.button-red{
    color: #CA0C16;
    border: 1px solid #DF3434;
    
}