.header{
    padding: 12px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: greenyellow;
}
 .header-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-left-logo{
    width: 80%;
    height: auto;
    padding-right: 10px;
}

.header-left-title{
    white-space: nowrap;
    font-size: 1.25vw;
    color: #888;
}

.header-right{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* For mobile phones: */
/* @media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
} */