@import 'vendor/normalize.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-size: 16px;
  font-size: 1em;
  font-family: 'MicrosoftYaHei';
}
.row::after {
    content: "";
    clear: both;
    display: block;
}

body {
  width: 100%; 
}

@media only screen and (max-width: 768px){
  /* For mobile phone*/
  [class*="col-"]{
    width: 100%;
  }
}