nav{
    background: palegreen;
    width: 13.3%;
    padding-left: 1.38%;
    padding-top: 1em;
    border-right:  1px solid #E4EBF4;  
}
@media screen and (max-width: 768px){
    nav{
        padding-left: 0.5em;
        padding-top: 0.5em;
    }
}